build
dist
MANIFEST
*.egg-info
*.egg
docs/_build/

*.pyc
*.pub
*_rsa

kokki-config.j2
fabfile_local.py
settings_deploymachine.py
templates/gunicorn.conf.j2
templates/settings_local_dev.j2
templates/settings_local_prod.j2
templates/settings_main.j2
templates/urls_main.j2

_kcb-todo/
