import os


COOKBOOK_PATH = os.path.join(os.path.dirname(os.path.realpath(__file__)), "kokki-cookbooks")


def base(kit):
    kit.add_cookbook_path(COOKBOOK_PATH)
    kit.update_config({
        "openstack_compute": dict(username="{{ deploymachine_settings.OPENSTACK_USERNAME }}",
                                  api_key="{{ deploymachine_settings.OPENSTACK_API_KEY }}",
                                  servers={{ deploymachine_settings.OPENSTACK_SERVERS }}),
        "sendmail.default_email": "{{ deploymachine_settings.SENDMAIL_DEFAULT_EMAIL }}",
        "limits": [
            dict(domain="redis", type="soft", item="nofile", value="10000"),
            dict(domain="redis", type="hard", item="nofile", value="10000"),
            dict(domain="nginx", type="soft", item="nofile", value="10000"),
            dict(domain="nginx", type="hard", item="nofile", value="10000"),
            dict(domain="www-data", type="soft", item="nofile", value="10000"),
            dict(domain="www-data", type="hard", item="nofile", value="10000"),
            dict(domain="root", type="soft", item="nofile", value="30000"),
            dict(domain="root", type="hard", item="nofile", value="30000"),
        ],
        "apt.sources": [
             "deb http://archive.ubuntu.com/ubuntu/ natty main restricted universe multiverse",
             "deb http://archive.ubuntu.com/ubuntu/ natty-updates main restricted universe multiverse",
             "deb http://security.ubuntu.com/ubuntu/ natty-security main restricted universe multiverse",
        ],
        "apt.configs": {
            "APT::Periodic": {
                "Unattended-Upgrade": 1,
                "MaxSize": 1024,
                "MinAge": 10,
                "MaxAge": 90,
            },
        },
    })
    kit.include_recipe("limits", "monit", "sysadmin", "apt", "munin.node") # "sendmail",
    #logrotate, logwatch, icinga, heartbeat
    #hosts, iptables, locales, timezone, openntpd

def loadbalancer(kit):
    base(kit)
    kit.include_recipe("munin.master", "nginx.deploymachine")
    kit.update_config({
        "munin.dbdir": "/var/lib/munin",
        {% if deploymachine_settings.MUNIN_CONTACTS %}
        "munin.contacts": [{% for contact in deploymachine_settings.MUNIN_CONTACTS %}{{ contact }}, {% endfor %}],
        {% endif %}
        "nginx.worker_processes": 4,
        "nginx.worker_connections": 100,
        "nginx.keepalive_timeout": 5,
        "nginx.accept_mutex": False,
        "nginx.client_max_body_size": "4G",
        "nginx.sites": {{ deploymachine_settings.SITES }},
    })


def appnode(kit):
    base(kit)
    kit.include_recipe("supervisor", "gunicorn.deploymachine")
    kit.update_config({
        "python_version": "{{ deploymachine_settings.PYTHON_VERSION }}",
        "deploy_home": "{{ deploymachine_settings.DEPLOY_HOME }}",
        "virtualenvs_root": "{{ deploymachine_settings.VIRTUALENVS_ROOT }}",
        "gunicorn.sites": {{ deploymachine_settings.SITES }},
        "supervisor.sites": {{ deploymachine_settings.SITES }},
        "supervisor.logrotate": dict(
            files=[
                "/var/log/supervisord/*.log",
                "/var/log/gunicorn/*.log",
            ],
            rotate=10,
            interval="weekly",
        ),
    })


def dbserver(kit):
    """ http://www.revsys.com/writings/postgresql-performance.html """
    base(kit)
    kit.include_recipe("postgresql9.server", "postgresql-cloudfiles-backup")
    kit.update_config({
        "cloudfiles.deploy_home": "{{ deploymachine_settings.DEPLOY_HOME }}",
        "cloudfiles.dbdumps_root": "{{ deploymachine_settings.DBDUMPS_ROOT }}",
        "cloudfiles.dbname": {% for dbname in deploymachine_settings.DATABASES.keys() %}"{{ dbname }}"{% endfor %},
        "cloudfiles.openstack_username": "{{ deploymachine_settings.OPENSTACK_USERNAME }}",
        "cloudfiles.openstack_api_key": "{{ deploymachine_settings.OPENSTACK_API_KEY }}",
        "cloudfiles.openstack_dbdumps_container": "dbdumps",
        "cloudfiles.openstack_datacentre": "us",
        "cloudfiles.passphrase_for_dbdump": "{{ deploymachine_settings.PASSPHRASE_FOR_DBDUMP }}",
        "postgresql9.listen_addresses": "*",
        "postgresql9.port": "{{ deploymachine_settings.PGSQL_PORT }}",
        "postgresql9.shared_buffers": "64MB",
        "postgresql9.ssl": "on",
        "postgresql9.log_min_duration_statement": 1000,
        "postgresql9.auth": [
            dict(type="local",
                 database="all",
                 user="all",
                 method="md5",
            ),
            dict(type="host",
                 database="all",
                 user="all",
                 cidr="127.0.0.1/32",
                 method="md5",
            ),
            dict(type="host",
                 database="all",
                 user="all",
                 cidr="::1/128",
                 method="md5",
            ),
            dict(type="hostssl",
                 database="all",
                 user="all",
                 cidr="10.179.0.0/16",  # limit only to rackspace network
                 method="md5",
            ),
        ],
     })


def broker(kit):
    base(kit)
    kit.include_recipe("rabbitmq")


def cachenode(kit):
    base(kit)
    kit.include_recipe("redis")
    kit.update_config({
        "redis.listen": True,
    })
