import os
import sys

def numCPUs():
    if not hasattr(os, "sysconf"):
        raise RuntimeError("No sysconf detected.")
    return os.sysconf("SC_NPROCESSORS_ONLN")

bind = "0.0.0.0:8001"
workers = 1

# redirect sys.stdout to sys.stderr for bad libraries like geopy that uses
# print statements for optional import exceptions.
sys.stdout = sys.stderr

from os.path import abspath, dirname, join
sys.path.insert(0, abspath(join(dirname(__file__), "../../")))

from site import addsitedir
addsitedir(join(settings.VIRTUALENVS_ROOT, site_name, 
                "lib/python{0}/".format(settings.PYTHON_VERSION), "/site-packages/"))

from django.conf import settings
os.environ["DJANGO_SETTINGS_MODULE"] = "{{ site_name }}.settings"

sys.path.insert(0, join(settings.PROJECT_ROOT, "apps"))
sys.path.insert(0, join(settings.PINAX_ROOT, "apps"))
sys.path.insert(0, join(settings.PINAX_ROOT, "projects", "basic_project", "apps"))
sys.path.insert(0, join(settings.SCENEMACHINE_ROOT, "apps"))
sys.path.insert(0, settings.SCENEMACHINE_ROOT)

from django.core.handlers.wsgi import WSGIHandler
application = WSGIHandler()
