[unix_http_server]
file={{ env.config.supervisor.socket_path }}  ; (the path to the socket file)
chmod=0700

[supervisord]
logfile={{ env.config.supervisor.logfile }} ; (main log file;default $CWD/supervisord.log)
logfile_maxbytes=50MB       ; (max main logfile bytes b4 rotation;default 50MB)
logfile_backups=10          ; (num of main logfile rotation backups;default 10)
loglevel=info               ; (log level;default info; others: debug,warn,trace)
pidfile={{ env.config.supervisor.pidfile }} ; (supervisord pidfile;default supervisord.pid)
nodaemon=false              ; (start in foreground if true;default false)
minfds=1024                 ; (min. avail startup file descriptors;default 1024)
minprocs=200                ; (min. avail process descriptors;default 200)
childlogdir=/var/log/supervisor

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ env.config.supervisor.socket_path }} ; use a unix:// URL  for a unix socket

[include]
files = {{ env.config.supervisor.custom_config_path }}/*.conf

{# [program:redis-server] #}
{# priority=10 #}
{# directory=/etc/redis #}
{# command=/usr/bin/redis-server /etc/redis/redis.conf #}
{# user=root #}
{# redirect_stderr=true #}

{% for site in env.config.supervisor.sites %}
[program:gunicorn-{{ site.name }}]
command=/home/deploy/.virtualenvs/{{ site.name }}/bin/python /home/deploy/.virtualenvs/{{ site.name }}/bin/gunicorn_django --preload  --log-file=/var/log/gunicorn/{{ site.name }}.log --config=/home/deploy/gunicorn/{{ site.name }}.conf --name gunicorn_{{ site.name }}
directory=/home/deploy/www/{{ site.name }}/{{ site.name }}/
user=deploy
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/{{ site.name }}.log
{% endfor %}
