SECRET_KEY = ""

SENTRY_KEY = ""
SENTRY_ADMINS = (
    ("Admin", "me@example.com"),
)

CUMULUS_USERNAME = ""
CUMULUS_API_KEY = ""
DEFAULT_FILE_STORAGE = ""
CUMULUS_CONTAINER = ""

FACEBOOK_APPLICATION_ID = ""
FACEBOOK_API_KEY = ""
FACEBOOK_APPLICATION_SECRET = ""

TWITTER_CONSUMER_KEY = ""
TWITTER_CONSUMER_SECRET_KEY = ""
TWITTER_REQUEST_TOKEN_URL = "https://api.twitter.com/oauth/request_token"
TWITTER_ACCESS_TOKEN_URL = "https://api.twitter.com/oauth/access_token"
TWITTER_AUTHORIZATION_URL = "https://api.twitter.com/oauth/authorize"

OAUTH_ACCESS_SETTINGS = {
    "facebook": {
        "keys": {
            "KEY": FACEBOOK_APPLICATION_ID,
            "SECRET": FACEBOOK_APPLICATION_SECRET,
        },
        "endpoints": {
            "access_token": "https://graph.facebook.com/oauth/access_token",
            "authorize": "https://graph.facebook.com/oauth/authorize",
            "provider_scope": [""],
            "callback": "lib.oauth_callbacks.facebook_callback",
        },
    },
    "twitter": {
        "keys": {
            "KEY": TWITTER_CONSUMER_KEY,
            "SECRET": TWITTER_CONSUMER_SECRET_KEY,
        },
        "endpoints": {
            "access_token": TWITTER_ACCESS_TOKEN_URL,
            "authorize": TWITTER_AUTHORIZATION_URL,
            "provider_scope": [""],
            "request_token": TWITTER_REQUEST_TOKEN_URL,
            "callback": "lib.oauth_callbacks.twitter_callback",
        },
    },
    # "linkedin": "xxx",
    # "yahoo": "xxx",
    # "gmail": "xxx",
}

AKISMET_API_KEY = ""
DISQUS_API_KEY = ""
DISQUS_WEBSITE_SHORTNAME = ""
STATS_CODE = ""  # contains stats tracking code
# URCHIN_ID = "ua-..."
# CACHE_BACKEND = "redis_cache.cache://127.0.0.1:6379/?timeout=1500/"
