[user]
    name = deploymachine

[github]
    user = {{ GITHUB_USERNAME }}
    token = {{ GITHUB_TOKEN }}

[push]
    default = current

[color]
    ui = auto

[color "diff"]
    meta = blue bold
    frag = magenta bold
    old = red bold

[color "branch"]
    current = yellow reverse
    local = yellow bold
    remote = green bold
    plain = red bold

[color "status"]
    added = yellow
    changed = green bold
