# hr min dayofmonth month dayofweek user cmd
0 0 0 * 0 postgres FILE={{ env.config.cloudfiles.deploy_home }}dbdumps/pg_dump-{{ env.config.cloudfiles.dbname }}-$(date +%B).dump pg_dump -Fc {{ env.config.cloudfiles.dbname }} > $FILE && {{ env.config.cloudfiles.deploy_home }}cloudfiles_uploader.py -u {{ env.config.cloudfiles.openstack_username }} -k {{ env.config.cloudfiles.openstack_api_key }} -c {{ env.config.cloudfiles.openstack_dbdumps_container }} -d {{ env.config.cloudfiles.openstack_datacentre }} $FILE
0 0 0 0 * postgres FILE={{ env.config.cloudfiles.deploy_home }}dbdumps/pg_dump-{{ env.config.cloudfiles.dbname }}-$(date +%A).dump pg_dump -Fc {{ env.config.cloudfiles.dbname }} > $FILE && {{ env.config.cloudfiles.deploy_home }}cloudfiles_uploader.py -u {{ env.config.cloudfiles.openstack_username }} -k {{ env.config.cloudfiles.openstack_api_key }} -c {{ env.config.cloudfiles.openstack_dbdumps_container }} -d {{ env.config.cloudfiles.openstack_datacentre }} $FILE
