#!/bin/bash
FILEPATH=$1
FILENAME=$(basename $1)
API_KEY="{{ openstack_username }}"
USER="{{ openstack_api_key }}"
CONTAINER="db-backups"


eval $(curl -s -X "GET" -D - \
  -H "X-Auth-Key:$API_KEY" \
  -H "X-Auth-User:$USER" \
  https://auth.api.rackspacecloud.com/v1.0 | gawk '$1=="X-Storage-Token:" { sub(/\r/,"",$2);printf("TOKEN=\"%s\"\n",$2); }
                                    $1=="X-Storage-Url:" { sub(/\r/,"",$2);printf("URL=\"%s\"\n",$2) }
                                    $1=="X-CDN-Management-Url:" { sub(/\r/,"",$2);printf("CDN=\"%s\"\n",$2) }')

curl -s -X "PUT" -T "$FILEPATH"  \
     -H "X-Auth-Token: $TOKEN" \
     -H "Content-Type: application/x-gzip" \
     $URL/$CONTAINER/$FILENAME
